{% extends "includes_main/base.html" %}
{% load static %}
{% block head %}
<title> {% if is_edit %} Редактирование рецепта {% else %} Создание рецепта {% endif %}</title>
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">{% if is_edit %} Редактирование рецепта {% else %} Создание рецепта {% endif %}</h1>
</div>
<div class="form-container">
    <form class="form" method="post" action="{% if is_edit %}{% url 'recipe_edit' recipe.slug %}{% else %}{% url 'recipe_new' %}{% endif %}" enctype="multipart/form-data">
        {% csrf_token %}
        form {{ form.errors }}
        formset {{ formset.errors }}
        <div class="form__group">
            <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                <input type="text" id="{{ form.title.id_for_label }}" name="title" {% if form.title.value %} value={{form.title.value}} {% endif %} class="form__input">
                <span class="form__error">{{form.title.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                <div class="tags">
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_breakfast" value="1" class="tags__checkbox tags__checkbox_style_orange" {% if 1 in form.tags.value %} checked="checked"{% endif %}>
                        <label for="id_tags_breakfast" class="tags__label">Завтрак</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_lunch" value="2" class="tags__checkbox tags__checkbox_style_green" {% if 2 in form.tags.value %} checked="checked"{% endif %}>
                        <label for="id_tags_lunch" class="tags__label">Обед</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_dinner" value="3" class="tags__checkbox tags__checkbox_style_purple" {% if 3 in form.tags.value %} checked="checked"{% endif %}>
                        <label for="id_tags_dinner" class="tags__label">Ужин</label>
                    </div>
                </div>
                <span class="form__error">{{form.tags.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            {{ formset.as_p }}
        </div>
{#        <div class="form__group">#}
{#            <input type="hidden" name="ingredientrecipe_set-TOTAL_FORMS" value="0" id="id_ingredientrecipe_set-TOTAL_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-INITIAL_FORMS" value="0" id="id_ingredientrecipe_set-INITIAL_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-MIN_NUM_FORMS" value="0" id="id_ingredientrecipe_set-MIN_NUM_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-MAX_NUM_FORMS" value="1000" id="id_ingredientrecipe_set-MAX_NUM_FORMS">#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-0-ingredient">Ingredient:</label>#}
{#                <select name="ingredientrecipe_set-0-ingredient" id="id_ingredientrecipe_set-0-ingredient">#}
{#                    <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>#}
{#                    <option value="1">абрикосовое варенье, г</option>#}
{#                    <option value="2">ячневая крупа, г</option>#}
{#                </select>#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-9-quantity">Quantity:</label>#}
{#                <input type="number" name="ingredientrecipe_set-9-quantity" value="4578" id="id_ingredientrecipe_set-9-quantity">#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-9-DELETE">Удалить:</label>#}
{#                <input type="checkbox" name="ingredientrecipe_set-9-DELETE" id="id_ingredientrecipe_set-9-DELETE">#}
{#                <input type="hidden" name="ingredientrecipe_set-9-id" value="14" id="id_ingredientrecipe_set-9-id">#}
{#                <input type="hidden" name="ingredientrecipe_set-9-recipe" value="1" id="id_ingredientrecipe_set-9-recipe">#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-10-ingredient">Ingredient:</label>#}
{#                <select name="ingredientrecipe_set-10-ingredient" id="id_ingredientrecipe_set-10-ingredient">#}
{#                    <option value="" selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>#}
{#                    <option value="2191">ячневая крупа, г</option>#}
{#                </select>#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-10-quantity">Quantity:</label>#}
{#                <input type="number" name="ingredientrecipe_set-10-quantity" id="id_ingredientrecipe_set-10-quantity">#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_ingredientrecipe_set-10-DELETE">Удалить:</label>#}
{#                <input type="checkbox" name="ingredientrecipe_set-10-DELETE" id="id_ingredientrecipe_set-10-DELETE">#}
{#                <input type="hidden" name="ingredientrecipe_set-10-id" id="id_ingredientrecipe_set-10-id">#}
{#                <input type="hidden" name="ingredientrecipe_set-10-recipe" value="1" id="id_ingredientrecipe_set-10-recipe">#}
{#            </p>#}
{#        </div>#}
{#        !!! здесь начинается симбиоз !!!#}
{#        <div class="form__group">#}
{#            <input type="hidden" name="ingredientrecipe_set-TOTAL_FORMS" value="1" id="id_ingredientrecipe_set-TOTAL_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-INITIAL_FORMS" value="1" id="id_ingredientrecipe_set-INITIAL_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-MIN_NUM_FORMS" value="0" id="id_ingredientrecipe_set-MIN_NUM_FORMS">#}
{#            <input type="hidden" name="ingredientrecipe_set-MAX_NUM_FORMS" value="1000" id="id_ingredientrecipe_set-MAX_NUM_FORMS">#}
{#            <label for="nameIngredient" class="form__label">Ингредиенты</label>#}
{#            <div class="form__field-group">#}
{#                <div class="form__field-group-ingredientes">#}
{#                    <div class="form__dropdown">#}
{#                        <input type="text" id="nameIngredient" name="ingredientrecipe_set-0-ingredient" class="form__input">#}
{#                        <div class="form__dropdown-items"></div>#}
{#                    </div>#}
{#                    <input type="number" id="cantidad" name="ingredientrecipe_set-0-quantity" class="form__input" min="0">#}
{#                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>#}
{#                </div>#}
{#                <div class="form__field-group-ingredientes-container">#}
{##}
{#                </div>#}
{#                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>#}
{#                <span class="form__error"></span>#}
{#            </div>#}
{#        </div>#}
{#        !!! здесь начинвется красивая часть !!!#}
{#        <div class="form__group">#}
{#            <label for="nameIngredient" class="form__label">Ингредиенты</label>#}
{#            <div class="form__field-group">#}
{#                <div class="form__field-group-ingredientes">#}
{#                    <div class="form__dropdown">#}
{#                        <input type="text" id="nameIngredient" name="ingredients" class="form__input">#}
{#                        <div class="form__dropdown-items"></div>#}
{#                    </div>#}
{#                    <input type="number" id="cantidad" name="" class="form__input" min="0">#}
{#                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>#}
{#                </div>#}
{#                <div class="form__field-group-ingredientes-container">#}
{#                    <div class="form__field-item-ingredient" id="ing_2">#}
{#                        <span> Картошка 5шт.</span>#}
{#                        <span class="form__field-item-delete"></span>#}
{#                        <input id="nameIngredient_2" name="nameIngredient_2" type="hidden" value="ingredient.title">#}
{#                        <input id="valueIngredient_2" name="valueIngredient_2" type="hidden" value="ingredient.quantity">#}
{#                        <input id="unitsIngredient_2" name="unitsIngredient_2" type="hidden" value="ingredient.dimensions">#}
{#                    </div>#}
{#                </div>#}
{#                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>#}
{#                <span class="form__error"></span>#}
{#            </div>#}
{#        </div>#}
        <div class="form__group">
            <label for="id_time" class="form__label">Время приготовления</label>
            <div class="form__field-group form__field-group_time">
                <input type="number" id="id_time" name="time" class="form__input" value={{form.time.value}} required>
                <label for="id_time" class="form__label">минут</label>
                <span class="form__error">{{form.time.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_description" class="form__label">Описание</label>
            <div class="form__field-group">
                <textarea name="description" id="id_description" rows="8" class="form__textarea" required>{% if form.description.value %} {{form.description.value}} {% endif %}</textarea>
                <span class="form__error">{{form.description.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                <label for="id_image" class="form__file-button">Выбрать файл</label>
                <input type="file" class="form__file" name="image" accept="image/*" id="id_image">
                <span class="form__error">{{form.image.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_slug" class="form__label">Slug</label>
            <div class="form__field-group">
                <input type="text" id="id_slug" name="slug" {% if form.slug.value %} value={{form.slug.value}} {% endif %} class="form__input">
                <span class="form__error">{{form.slug.errors}}</span>
            </div>
        </div>
        <div class="form__footer">
            <button type="submit" class="button button_style_blue">Сохранить</button>
            <a style="margin-left: 2.5em" href="#" class="form__ingredient-link">Удалить</a>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="../../static/js/config/config.js"></script>
<script src="../../static/js/components/Header.js"></script>
<script src="../../static/js/utils/debouncing.js"></script>
<script src="../../static/js/api/Api.js"></script>
<script src="../../static/recipes/formRecipe.js"></script>
{% endblock %}