{% load user_filters %}
{% load static %}
<div class="card" data-id="{{ recipe.title }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "480x480" upscale=True as im %}
        <a href="{% url 'recipe' recipe.slug %}" class="link" target="_blank">
            <img src="{{ im.url  }}" alt="{{ recipe.title }}" class="card__image" width="480" height="480">
        </a>
    {% endthumbnail %}

    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
        {% for tag in recipe.tags.all %}
            {% if tag.title == 'breakfast'%}
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            {% elif tag.title == 'lunch'%}
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            {% elif tag.title == 'dinner'%}
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{% if recipe.author.get_full_name %} {{ recipe.author.get_full_name }} {% else %} {{ recipe.author.username }} {% endif %}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe|is_purchase:request.user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}

            {% if recipe|is_favorite:request.user %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>
