{% load user_filters %}
{% load static %}
<div class="card" {% if recipe|is_favorite:request.user %} data-id="{{ recipe|is_favorite:request.user }}" {% else %} data-id="{{ recipe.id }}" {% endif %}>
    <a href="{% url 'recipe' recipe.slug %}" class="link" target="_blank">
        {% load thumbnail %}
        {% thumbnail recipe.image "480x480" upscale=True as im %}
        <img src="{{ im.url  }}" alt="Какой-то текст" class="card__image">
        {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
        {% for tag in recipe.tags.all %}
            {% if tag.title == 'breakfast'%}
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            {% elif tag.title == 'lunch'%}
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            {% elif tag.title == 'dinner'%}
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
{#        <button class="button button_style_none" name="favorites" data-out="{{ recipe|is_favorite:request.user }}"><span class="icon-favorite"></span></button>#}
        {% if user.is_authenticated %}
        {% if recipe|is_favorite:request.user %}
            <button class=".icon-favorite_active" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
            <button class="button button_style_none" name="favorites" data-out={{ recipe|is_favorite:request.user }}"><span class="icon-favorite"></span></button>
        {% endif %}
        {% endif %}
    </div>
</div>
