{% extends "includes_main/base.html" %}
{% load static %}
{% block head %}
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
        {% for purchase in purchases %}
            <li class="shopping-list__item" data-id="{{ purchase.recipe.title }}">
                <div class="recipe recipe_reverse">
                    {% load thumbnail %}
                    {% thumbnail purchase.recipe.image "480x480" upscale=True as im %}
                        <img src="{{ im.url  }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    {% endthumbnail %}
                    <h3 class="recipe__title"> {{ purchase.recipe.title }} </h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ purchase.recipe.time }} </p>
                </div>
                <button class="shopping-list__button link" onClick="setTimeout('history.go(0); window.location.reload();',500);">Удалить</button>
            </li>
            {% endfor %}
        </ul>
        {% if request.user.purchases.count > 0 %}
            <a href="{% url 'purchase_list' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% else %}
            <p> Добавьте рецепты в список покупок </p>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'purchase/shopList.js' %}"></script>
{% endblock %}